body{
    width:250px;
    height:auto;
}
.blue{
    color:blue
}
.king{
border:1px solid green;
}
.lamplighter, .king, .concman{
font-weight: bold;
}
.concman{
border:1px solid green;
}
.businessman{
    background:yellow;
}