body{
    width: 700px;
    height:500px;
}
.first{
    border:1px solid rgb(39, 101, 139);
    display:flex;
    width:600px;
    height:80px;
    align-items:center;
    justify-content:center;
}
.item{
    background: rgb(39, 101, 139);
    height:30px;
    width:30px;
    margin:10px;
}
.second{
    border:1px solid rgb(39, 101, 139);
    background:rgb(216, 76, 76);
    display:flex;
    width:600px;
    height:80px;
    align-items:center;
    justify-content:center;
    margin-top:30px;
}
.box{
    background: purple;
    height:30px;
    width:30px;
    margin:10px;
}